body {
  color: rgb(1,40,77);
  font-size: 16px;
  min-width: 10in;
  font-family: Century Gothic, monospace;
}

#resume {
  width: 8.5in;
  border: 1px solid black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#main {
  width: 7.5in;
  height: 100%;
  margin: 0.5in;
  margin-top: 0.6in;
  position: relative;
}

#title-section {
  display: flex;
  align-items: center;
}

#name {
  margin-left: 10px;
  font-size: 36px;
  margin-top: -20px;
}

#title {
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}

.icon-div {
  display: flex;
}

.icon {
  background: rgb(1,40,77);
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 25px;
  color: white;
  padding-top: 8px;
  float: left;
}

#school-section, #skills-list, #experience-list {
  margin-left: 51px;
}

#work-date {
  float: right;
  font-size: 16px;
  margin-top: 4px;
}

#degree-name {
  font-weight: 700;
  font-size: 20px;
  margin-top: -2px;
  margin-bottom: 0px;
}

#edu-list {
  color: black;
  font-family: Century Gothic, monospace;
  margin-left: -15px;
  margin-top: -5px;
}

#skills-icon {
  font-size: 27px;
  padding-left: 7px;
}

#coding-icon {
  font-size: 27px;
}

#work-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: -2px;
  margin-bottom: -1px;
  color: black;
}

.icon-large {
  background: rgb(1,40,77);
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 25px;
  color: white;
  padding-top: 9px;
  height: 45px;
  width: 45px;
  margin-left: -5px;
  margin-right: 5px;
}

.section-title {
  margin-left: 5px;
  line-height: 30px;
  margin-top: 8px;
  font-weight: 800;
}

.links,
.links:hover,
.links:active,
.links:link,
.links:visited {
  text-decoration: none;
  color: black;
}

.icon-tag {
  color: black;
  font-family: Century Gothic, monospace;
  margin-left: 5px;
  line-height: 30px;
}

#honors {
  margin-top: -10px;
}

#personal-summary, #school-name, #skills-list, #coding-list, #honors {
  color: black;
  font-family: Century Gothic, monospace;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./CenturyGothic.ttf') format('truetype');
}
